<form action="" name="BRAND" id="brands">
            <h2>Бренд</h2>
            <input type="text" name="NAME" placeholder="Название бренда">
    
            <button>Сохранить</button>
        </form>