<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA-приложение</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="content">
        <img src="/images/logo.png" width="40px" alt="">

        <h1>Single Page Application</h1>

        <menu>
            <li data-route="owners">Владельцы</li>
            <li data-route="brands">Бренды</li>
            <li data-route="models">Модели</li>
            <li data-route="services">Услуги</li>
            <li data-route="objects">Объекты</li>
        </menu>

        <div id="form"></div>
        <div id="content"></div>
        <div id="app"></div>
    </div>

    <script type="module" src="/js/mongodb.js"></script>
    <!--script src="/lang/mess.js"></!--script-->
    <script src="/js/loc.js"></script>

    <script src="/js/dom.js"></script>
    <script src="/js/table.js"></script>
    <script src="/js/db.js"></script>
    <script src="/js/view.js"></script>
    <script src="/js/model.js"></script>
    <script src="/js/routing.js"></script>

    <script src="/js/core.js"></script>
    <script src="/index.js"></script>
</body>
</html>
