<form action="" name="MODEL" id="models">
            <h2>Модель</h2>
            <select name="BRAND"></select>
            <input type="text" name="NAME" placeholder="Название модели">
    
            <button>Сохранить</button>
        </form>