<form action="" name="MODEL" id="model">
        <h2>Модель</h2>
        <select name="BRAND"></select>
        <input type="text" name="MODEL" placeholder="Название модели" />

        <button>Сохранить</button>
      </form>