<form action="" name="ADD_OWNER" id="owner">
        <h2>Владелец</h2>
        <input type="text" name="firstName" placeholder="Имя" />
        <input type="text" name="secondName" placeholder="Отчество" />
        <input type="text" name="lastName" placeholder="Фамилия" />
        <input type="date" name="dateBD" />

        <button>Сохранить</button>
      </form>