<form action="" name="ADD_OWNER" id="owners">
            <h2>Владелец</h2>
            <input type="text" name="NAME" placeholder="Имя">
            <input type="text" name="SECOND_NAME" placeholder="Отчество">
            <input type="text" name="LAST_NAME" placeholder="Фамилия">
            <input type="date" name="BD">
    
            <button>Сохранить</button>
        </form>