<form action="" name="MODEL" id="models">
            <h2>Услуги</h2>
            <select name="OWNER" data-rel='CARD'></select>
            <select name="CARD" ></select>

            <input type="text" name="NAME" placeholder="Название услуги">
            <input type="number" step="500" name="PRICE" placeholder="Стоимость">
            <input type="number" name="COUNT" placeholder="Количество">
            <input type="number" disabled name="TOTAL_PRICE" placeholder="Общая стоимость">

            <button>Сохранить</button>
        </form>